body {
 margin: 0;
 font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* container one */

.header {
    display: flex;
    justify-content: space-around;
    background-color: #1F2937;
    padding: 0px 150px;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

.links {
    display: flex;
    align-items: center;
    padding: 15px;
    gap: 15px;
    margin-left: auto;
    font-size: 18px;
}

a {
    text-decoration: none;
    color:#dadada;
}

.container {
    display: flex;
    flex-direction: column;
    
}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 150px 100px 150px;
    background-color: #1F2937;
}

.signup {
    display: flex;
    flex-direction: column;
    flex: 0 1 450px;;
    margin-right: 20px;
 
}

.title {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    margin-bottom: 0px;
}

.description {
    margin: 0;
    font-size: 18px;
    color:#dadada
}

button {
    display: inline-block;
    background-color: rgb(32, 148, 250);
    font-size: 18px;
    font-weight: bold;
    color: #F9FAF8;
    align-self: flex-start;
    border-radius: 5px;
    border: none;
    padding: 5px 30px 5px 30px;
    margin-top: 15px;
}

.pic-one {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    background-color: rgb(118, 124, 136);
    margin-left: auto;
    height: 150px;
    width: 450px;
}

/*container two*/

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 150px 10px 150px;  /* switched from margin allows items to stay within container when minimized*/
    
}

h2 {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    text-align: center;
}

.grouping {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.images {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;
    text-align: center;
    width: 150px;
    
}

.pictures {
    border: 5px solid #3882f6;
    border-radius: 10px;
    width: 150px;
    height: 150px;
    text-align: center;
}

/* contaienr three */

.quote {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #E5E7EB;
    font-size: 36px;
    color: #1F2937;

}

.items {
    padding: 30px 300px 30px 300px;
}
.odin {
    font-style: italic;
    
}
.thor {
    text-align: end;
    font-weight:bolder;
    font-size: 24px;
}